@model IEnumerable<LeagueTable.ViewModels.WinOrLoseViewModel>

@{
    ViewData["Title"] = "Premier League Log";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Team</th>
            <th>Games Played</th>
            <th>Points</th>
            <th>Available Points</th>
            <th>Maximum Possible Points</th>
            <th>Can still win league?</th>
            <th>Can still be relegated?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                @if (s.areRelegated)
                {
                   <td>R</td>
                }
                else
                {
                    <td>@s.position</td>

                }
                <td>@s.teamName</td>
                <td>@s.playedGames</td>
                <td>@s.points</td>
                <td>@s.availablePoints</td>
                <td>@s.maxPoints</td>
                @if (s.canWinLeague)
                {
                    <td class="success">Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                @if (s.canBeRelegated)
                {
                    <td class="danger">Yes</td>
                }
                else
                {
                    <td>No</td>

                }
            </tr>
        }
    </tbody>
</table>